.welcome{
    margin:0;
    height:    100px;
    background-color:yellowgreen;
    padding:24px;
}
body{
    color:    black;
    font-family: sans-serif;
}
.form{
    padding-top: 60px;
    text-align: center;
    background-color:tan;
    padding-bottom: 40px;
}
.name{
    width: 250px;
    margin: 20px;
    height: 30px;

}
.rollno{
    width: 250px;
    margin: 20px;
    height: 30px;
    
}
.btnsubmit{
    width: 100px;
    background-color:plum;
}
